* {
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: auto;
}

/* Header-block */
.header-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: #ED4C5C;
}
.header-block-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: space-around;
    margin-right: 80px;
    font-style: normal;
    color: #FFFFFF;
    width: 445px;
}

.header-block-main {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 50px;
}

.header-block-textdescription{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: justified;
    padding-bottom: 40px;
   
}

.header-block-icon {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 134px;
    height: 32px;
}
#googleplaystore {
    padding-right: 30px;
}

.photo {
    width: 533px;
    height: 311px;
    
}


/* Main Block */
.main-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.main-block-left {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 435px;
    height: 160px;
    margin-right: 114px;
    color: #000000;
}

.main-block-title {
    font-size: 36px;
    font-weight: 600;
}

.main-block-description{
    font-size: 14px;
    line-height: 20px;
} 

.login-forma { 
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 540px;
}

.login-names {
    display:flex;
    flex-direction: row;
    height: 60px;
    margin-bottom:25px;
}

.login-first-name {
   margin-right:30px;
   padding-left:30px;
   border-radius: 6px;
}

.login-last-name {
    padding-left:30px;
    border-radius: 6px;
}

.login-phone {
    border-radius: 6px;
    padding-bottom: 20px;
    padding-left:30px;
    padding-top: 20px;
    width: 506px;
    margin-bottom:25px;
}

.login-select-sevice {
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
    margin-bottom:25px;
    font-size: 14px;
    font-weight: 400;
    appearance: none;
    background: url(img/chevron_down_icon_152668.png) 96% 50% no-repeat;
}

.button-submit {
    width: 160px;
    height: 50px;
    background: #ED4C5C;    
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}



/*Footer Block */
.footer-block {
    display:flex;
    flex-direction:row;
    background: #FAFAFA;
    height: 445px;
    align-items:flex-start;
    padding-top: 85px;
    justify-content:space-around;
}

.footer-address {
    display: flex;
    flex-direction: column;
    width: 254px;


}
.footer-address-title {
   font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    padding-bottom:35px;
}

.footer-address-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.footer-services {
    display:flex;
    flex-direction: column;
    width: 254px;
    align-items:flex-start;
    justify-content: center;
    font-style: normal;
   
}

.footer-services-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 30px;

}

.footer-services-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

.footer-getintouch {
    display:flex;
    flex-direction: column;
    width: 122px;
    align-items:flex-start;
    justify-content: center;
    font-style: normal;
}

.footer-getintouch-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 33px;
}

.footer-getintouch-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}

.footer-icons {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top:25px;
}

#facebook{
    width: 14px;
    padding-right: 10px;
}

.footer-support {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 216px;
}

.footer-support-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-bottom:33px;
}


.copyright{
    padding-top:141px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

