* {
    margin: 0;
    padding:0;
   
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: auto;
}

/* Header-block */
.header-block {
    position: absolute;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #ED4C5C;
}

.photo {
    position: absolute;
    width: 533px;
    height: 311px;
    left: 691px;
    top: 94px;
}

.header-block-main {
    height: 107px;
    width: 445px;
    margin-left: 165px;
    margin-top: 122px;
    border-radius: nullpx;
    font-weight:400;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
}

.header-block-textdescription {
    height: 64px;
    width: 445px;
    margin-left: 165px;
    margin-top: 25px;
    border-radius: nullpx;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
}

.header-block-icon {
    height: 32px;
    width: 134px;
    margin-left: 163px;
    margin-top: 40px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

#googleplaystore{
    margin-right: 20px;
}

#appstore {
    margin-right: 20px;
}

/* Main Block */
.mainblock {
    height: 500px;
    margin-top: 500px;
}
.main-block-title {
    height: 107px;
    width: 445px;
    margin-left: 176px;
    margin-top: 617px;
    border-radius: nullpx;
    font-size: 36px;
    color: #000000;
}

.main-block-description{
    height: 64px;
    width: 434px;
    padding-left: 176px;
    font-size: 14px;
    line-height: 20px;
}
.login-forma{
    height: 305px;
    width: 540px;
    margin-left: 735px;
    margin-bottom: 67px;
    border-radius: 6px;
}
.login-names {
    position: absolute;
    height: 60px;
    width: 540px;
    top: 617px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    display:flex;
    flex-direction: row;
}
.login-first-name {
    left: 735px;
    border-radius: 6px;
    border:1px solid #000000 ;
    padding-left:30px;
    margin-right: 20px;
}
.login-last-name {
    left: 1020px;
    border-radius: 6px;
    border:1px solid #000000 ;
    padding-left:30px;

}

.login-phone {
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 701px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 31px;
    font-size: 14px;
    font-weight: 400;
}

.login-select-sevice {
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 785px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
    font-size: 14px;
    font-weight: 400;
    appearance: none;
    background: url(img/chevron_down_icon_152668.png) 96% 50% no-repeat;
}

.button-submit {
position: absolute;
width: 160px;
height: 50px;
left: 735px;
top: 872px;
background: #ED4C5C;
border: 1.5px solid #ED4C5C;
box-sizing: border-box;
border-radius: 6px;
color: #ffffff;
font-size: 14px;
text-transform: uppercase;
}

/*Footer Block */
.footer-block {
    position: absolute;
    height: 435px;
    top: 1045px;
    background: #FAFAFA;
}

.footer-address-title {
    height: 22px;
    width: 65px;
    padding-left: 166px;
    padding-top: 85px;
    border-radius: nullpx;
    font-weight: 700;
    font-size: 18px;
}

.footer-address-text {
    height: 54px;
    width: 254px;
    padding-left: 166px;
    padding-top: 33px;
    border-radius: nullpx;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.footer-services {
    position: absolute;
    width: 254px;
    height: 164px;
    padding-left: 450px;
    top: 85px;
}

.footer-services-title {
    height: 22px;
    width: 67px;
    border-radius: nullpx;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.footer-services-text{
    height: 114px;
    width: 254px;
    padding-top :28px;
    border-radius: nullpx;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

.footer-getintouch {
    position: absolute;
    width: 122px;
    height: 128px;
    left: 734px;
    top: 85px;
}

.footer-getintouch-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.footer-getintouch-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    padding-top: 33px;
}

#facebook{
    position: absolute;
    width: 14px;
    padding-top:20px;
}

#linkedin {
    height: 14px;
    width: 14px;
    padding-left: 26px;
    padding-top: 20px;
}

#twitter {
    position: absolute;
    height: 14px;
    width: 14px;
    padding-left: 52px;
    margin-top: -12px;
}

.footer-support {
    position: absolute;
    width: 96px;
    height: 22px;
    left: 1022px;
    top: 85px;
}

.footer-support-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.footer-secur {
    height: 31px;
    width: 216px;
    padding-top:33px;
}

.copyright{
    position: absolute;
    height: 14px;
    width: 155px;
    left: 161px;
    top: 1380px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010,
}

